@import url("normalize.css");
@import url('tags.css');
@import url(tags.css);

* {
    box-sizing: border-box;
}

/* comment /* */

body {
	font-family: "Open Sans", Calibri, Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	font-size: medium;
}